@import "../omarchy/current/theme/waybar.css";

* {
  background-color: transparent;
  /* quiero el background con opacidad */
  /* background-color: white; */
  color: white;
  /* ahora le ponemos shadow al text para hacerlo mas legible */
  text-shadow: 0 0 4px black, 0 0 4px black, 0 0 8px black, 0 0 8px black;
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 12px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

window#waybar {
  /* background: rgba(0, 0, 0, 0.204); */
  /* border-radius: 40px; */
  /* fondo background con degradado de negro a rojo hacia abajo */
  /* background: linear-gradient(to bottom, black, rgba(255, 255, 255, 0));  */
  background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));

}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 2px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

tooltip {
  border-radius: 20px;
  background-color: black;
  opacity: 0.8;
}

#cpu,
#bluetooth,
#clock,
#custom-cpu,
#custom-dotfiles,
#custom-docker,
#custom-restart,
#battery,
#pulseaudio,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 8px;
}

#tray {
  margin-right: 16px;
}

#custom-shutdown {
  margin-right: 17px;
}

#network {
  margin-right: 13px;
}

#custom-expand-icon {
  margin: 2px 8px;
  color: #fffcf0;
  background-color: rgba(0, 0, 0, 0.39);
  /* opacity: 0.20; */
  border-radius: 100%;
  padding: 0px 8px;
}

#custom-expand-icon:hover,
#tray-expander:hover #custom-expand-icon {
  /* opacity: 1; */
  background-color: black;
  border: 1.5px dotted white;
  transition: all 1s ease;
}

tooltip {
  padding: 2px;
}

#custom-cpu.hot {
  color: #ff1b1b;
}


#custom-docker.on {
  color: blue;
}

#custom-docker.killing {
  color: #ff1b1b;
}

#custom-dotfiles {
  /* color: lightblue; */
  font-size: 13px;
}

#custom-uptime {
  /* font-size: 10px; */
  color: @background
}

#custom-restart:hover {
  color: yellow;
  /* font-size: 16px; */
  transition: all 0.3s ease;
}

#custom-shutdown:hover {
  color: red;
  /* font-size: 16px; */
  transition: all 0.3s ease;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 5px;
  font-size: 10px;
  padding-bottom: 1px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#custom-voxtype {
  min-width: 12px;
  margin: 0 0 0 7.5px;
}

#custom-voxtype.recording {
  color: #a55555;
}

